.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid rgb(234, 234, 234);
    padding: 10px 0;
    margin-bottom: 20px;
}

.logo{
    width: 45px;
    margin-left: 40px;
}

.header div{
    display: flex;
    align-items: center;
}

.header span{
    display: flex;
    align-items: center;
    color: gray;
    height: 50px;
}

.header span p{
    margin-right: 5px;
    font-size: 0.9rem;
}

.button{
    background-color: #a62626;
    color: #fff;
    height: 40px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    margin-right: 40px;
    padding-top: 10px;
}

.account_opt{
    z-index: 5;
    position: absolute;
    top: 50px;
    background: #fff;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: gray;
    display: none;
}

.account_opt ul{
    list-style: none;
}

.account_opt ul li{
    cursor: pointer;
}